html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p img{
  width:750px;
  margin: 5px auto;
}
pre{
  background-color: rgba(0, 0, 0, 0.548);
  width: 760px;
  padding: 6px 18px;
}
textarea{
    font-size: 20px;
    font-family: monospace;
    background-color: #222;
    color: #eee;
    resize: none;
}


pre{
    width: 80ch;
    font-family: monospace;
    font-size: 20px;
    line-height: 20px;
}
.output{
    font-size: 16px;
    width: 98vw;
    overflow-x: scroll;
    padding: 20px;
    border: 1px solid #666;
}
 code {
	 padding: 1em 2em 2em 2em !important;
	 margin: 2em auto;
	 font-family: 'Fira Mono', monospace;
	 tab-size: 2;
}
 var::before, var::after {
	 content: '`';
}
 button {
	 padding: 0.5em 1em;
	 font-family: 'Lato', sans-serif;
	 font-size: 1.2em;
	 cursor: pointer;
}
 .output {
	 padding: 2em;
	 font-family: 'Fira Mono', monospace;
	 background-color: #e2e9ed;
}
 
